.thread-text {
    color: rgb(236, 142, 142);
}

.card {

    h2 {
        font-size: 16px;
    }
}

.card:hover {
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
}

.single-post {

    p {
        color: rgb(197, 197, 197);
    }

}
span {
    color: rgb(197, 197, 197) !important;
}

.post-body {

    p {
        max-width: 500px;
    }
}
