// Imports

@use"navbar";
@use"posts";
@use"footer";

$bgColor: rgb(47, 47, 47);
$black: rgb(53, 53, 53);
$white: rgb(179, 179, 179);

body {
    background-color: $white;
}

h1 {
    color: whitesmoke;
}

h2  {
    color: $black;
    
}

h3 {
    color: $white;
}

li {
    list-style-type: none;
}

a {
    color: black;
}

.jumbotron {
    background-image: url('img/background.jpeg');
    p {
        color: whitesmoke;
    }
}