// Imports

@use"navbar";
@use"posts";

$bgColor: rgb(47, 47, 47);
$black: rgb(53, 53, 53);
$white: rgb(179, 179, 179);

body {
    background-image: url(/img/background.jpeg);
}

h1 {
    color: $black;
}

h2  {
    color: $white;
    display: block;
}

h3 {
    color: $white;
}
