.navbar {
  background: transparent !important;
}

.navbar a {
  color: #6c6ca1 !important;
}

.thread-text {
  color: #ec8e8e;
}

.card h2 {
  font-size: 16px;
}

.card:hover {
  border: 3px solid black;
  box-shadow: 5px 5px 5px black;
}

.single-post p {
  color: #c5c5c5;
}

span {
  color: #c5c5c5 !important;
}

.post-body p {
  max-width: 500px;
}

body {
  background-image: url(/img/background.jpeg);
}

h1 {
  color: #353535;
}

h2 {
  color: #b3b3b3;
  display: block;
}

h3 {
  color: #b3b3b3;
}

